/*-----------------------------------*\
  #stylesheet.css
\*-----------------------------------*/

/**
 * copyright 2022 @Rhamseys Garcia
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    background: hsl(0, 0%, 7%);
    color: white;
  }
  /**
      * SideBar
      */
  
  #sidebar-toggle {
    position: sticky; /* Fixed positioning relative to the viewport */
    top: 0; /* Aligns the element to the top of the viewport */
    width: 100%; /* Full width */
    text-align: right; /* Aligns the text to the right */
    padding: 5px 0px;
  }
  
  #sidebar-toggle ion-icon {
    padding: 0px 5px;
    top: 3px;
  }
  
  .sidebar {
    position: sticky; /* Fixed positioning relative to the viewport */
    left: 0; /* Stick to the left side */
    top: 0; /* Optional: Stick to the top of the viewport when it reaches this point */
    width: 25%;
    height: 100vh;
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 20px;
    background: hsl(240, 2%, 12%);
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    z-index: 1;
    padding: 10px 15px 10px;
    margin: 0px 55px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .sidebar-colum {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-info {
    text-align: center;
  }
  
  @media only screen and (max-width: 1024px) {
    body {
      flex-direction: column;
      margin: 40px 30px;
    }
    hr:first-of-type {
      display: none;
    }
    #sidebar-toggle {
      display: none;
    }
    .sidebar {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100% !important;
      margin: 0px 0px 100px;
      height: max-content;
    }
    .avatar-box a img {
      width: 300px;
      min-width: 200px;
    }
    .sidebar-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-around;
      border-bottom: 3px solid white;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
    .sidebar-info-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .social-contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 15px;
    }
    .contact-info {
      flex-grow: 1;
      justify-content: center;
    }
    .social-list {
      gap: 50px !important;
    }
    .layout {
      width: 100% !important;
    }
    .info-content h1 {
      font-size: 45px !important;
    }
    .info-content .titles {
      font-size: 17px !important;
    }
  }
  
  @media only screen and (max-width: 535px) {
    .sidebar-info {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }
    .info-content h1 {
      font-size: 35px !important;
      border-top: 3px solid white;
      padding-top: 10px;
    }
    .info-content .titles {
      font-size: 14px !important;
    }
  }
  
  .avatar-box {
    padding: 30px 20px 15px;
    border-radius: 25px;
  }
  
  .avatar-box img {
    border-radius: 25px;
  }
  
  .info-content {
    padding: 0px 10px 30px;
  }
  
  .info-content h1 {
    color: hsl(0, 0%, 98%);
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.25px;
    margin-bottom: 0px 10px;
    padding-bottom: 15px;
  }
  
  .info-content .titles {
    color: hsl(0, 0%, 100%);
    background: hsl(240, 1%, 17%);
    font-size: 11px;
    font-weight: 300;
    width: max-content;
    padding: 10px 12px;
    border-radius: 8px;
    width: 100%;
  }
  
  #info_more-btn {
    /*Toggle with JS */
    display: none;
  }
  
  .contact-item {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    width: 100%;
    justify-content: left;
  }
  
  .icon-box {
    padding: 20px;
    font-size: 22px;
    color: #ed7800;
    background: linear-gradient(
      to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%
    );
    border-radius: 8px;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .contact-title {
    color: hsla(0, 0%, 84%, 0.7);
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  
  .contact-info-email {
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px 10px;
    font-size: 20px;
  }
  
  /**
      * layout
      */
  
  .layout {
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 20px;
    background: hsl(240, 2%, 12%);
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    width: 75vw;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    body {
      margin: 30px 20px;
    }
    .info-content {
      padding: 0;
    }
    .info-content h1 {
      font-size: 30px;
    }
    .info-content .titles {
      font-size: 15px;
    }
    .social-contact a {
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    body {
      margin: 30px 10px;
      min-width: 315px;
    }
    .info-content h1 {
      font-size: 15px;
    }
    .info-content .titles {
      font-size: 12px;
    }
    .avatar-box {
      padding: 15px 10px 15px;
    }
    .social-contact {
      flex-direction: column;
      display: flex;
      font-size: 20px;
    }
    .contact-info-email {
      font-size: inherit;
    }
  }
  